* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tableWebLayout {
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  border-collapse: collapse;
}

.tableWebLayout td {
  border: 1px solid black;
}

.navTd {
  background-color: rgb(36, 36, 36);
}
.navContainer {
  padding: 10px 50px;
  height: 100%;
  color: white;
}

.linksContainer {
  float: right;
  margin-top: 10px;
}

.linksContainer li {
  display: inline;
  margin-left: 20px;
}

.logoContainer {
  display: inline;

  float: left;
}

.contactBtn {
  background-color: rgb(80, 152, 185);
  padding: 8px 14px;
  border-radius: 20px;
}

.footercontainer {
  max-width: 80%;
  height: 30vh;

  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.item {
  color: black;
  padding: 40px;
  border: 1px solid black;
  text-align: center;
}

.button {
  margin-top: 30px;
}

a {
  text-decoration: none;
}

p {
  padding-top: 30px;
}
