* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tableWebLayout {
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  border-collapse: collapse;
}

.tableWebLayout td {
  border: 1px solid black;
}

.navTd {
  background-color: rgb(117, 142, 3);
}

.navContainer {
  /* padding: 10px 50px; */

  height: 100%;
  color: white;
}

.linksContainer {
  display: inline;
  /* float: right; */
  /* margin-top: 35px; */
  padding-left: 30%;
}

.linksContainer li {
  display: inline;
  margin-left: 20px;
}

.logoContainer {
  display: inline;
  float: left;
}

.contactBtn {
  background-color: rgb(80, 152, 185);
  padding: 8px 14px;
  border-radius: 20px;
  float: right;
}

.asideLinksContainer {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  padding: 30px 20px;
  list-style-type: none;
}

.asideLinksContainer li {
  margin-top: 25px;
}

.asideLinksContainer i {
  margin-right: 10px;
}

.bodyContent {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.top {
  border: 1px solid blue;
  height: 200px;
  width: 100%;
}

.top img {
  /* padding-left: 20px;
  margin-left: 50px; */
  width: 100%;
  height: 200px;
}

.left {
  border: 1px solid black;
  width: 50%;
  height: 69%;
  float: left;
  padding: 20px;
}

.right {
  border: 1px solid black;
  width: 50%;
  height: 69%;
  float: right;
  padding: 20px;
}

.footer {
  background-color: black;
  padding-top: 40px;

}

.footerContainer {
  width: 70%;
  margin: auto;
  height: 100%;
  border-collapse: collapse;
  text-align: center;
  color: white;
  border: 50%;
}

.footerContainer th {
  color: rgb(151, 65, 151);
}

.footerContainer td {
  text-decoration: underline;
  /* padding: 20px; */
}

.section {
  background-color: rgb(151, 65, 151);
  text-align: center;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}