* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tableWebLayout {
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  border-collapse: collapse;
}

.tableWebLayout td {
  border: 1px solid black;
}

.navTd {
  background-color: rgb(36, 36, 36);
}
.navContainer {
  padding: 10px 50px;
  height: 100%;
  color: white;
}

.linksContainer {
  /* background-color: red;  */
  display: inline;
  float: right;
  margin-top: 10px;
}

.linksContainer li {
  /* background-color: green; */
  display: inline;
  margin-left: 20px;
}

.logoContainer {
  display: inline;

  float: left;
}

.contactBtn {
  background-color: rgb(80, 152, 185);
  padding: 8px 14px;
  border-radius: 20px;
}

.footercontainer {
  display: grid;
  grid-template-columns: 100px 150px 200px;
  text-align: center;
}

item1 {
  padding: 16px;
  height: fit-content;
  margin: 5px;
  background-color: pink;
}
