* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.gridContainer {
    width: 80%;
    height: 80vh;
    margin: auto;
    border: 3px solid blue;
    /* master property */
    display: grid;
    /* align everything horizontally */
    /* justify-content: center; */
    /* align everything vertially */
    /* align-items: center; */
    /* for column structure */
    grid-template-columns: 1fr 1fr;
    /* for the row structure */
    grid-template-rows: auto;
    /* to add gap in between children */
    grid-gap: 5px;
}

.child1 {
    background-color: yellow;
    /* child properties for grid */
    /* grid-column: 1/2;
    grid-row: 4/5; */
    /* justify-self: center;
    align-self: center; */
    grid-column: 2/3;
    grid-row: 3/4;
}

.child2 {
    background-color: blue;
}

.child3 {
    background-color: purple;
}

.child4 {
    background-color: beige;
    /* grid-column: 2/3;
    grid-row: 3/4; */
}

.child5 {
    background-color: dimgray;
}

.weblayout {
    width: 100%;
    height: 100vh;
    border: 3px solid black;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
}

.navbar {
    border: 1px solid blue;
    grid-column: 1/4;
    grid-row: 1/2;
}

.navigation {
    background-color: darkgrey;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;

}
.logoContainer{
    /* background-color: red; */
    justify-self: end;
    align-self: center;
}
.logoContainer img{
    border-radius: 50%;
}
.linksContainer{
    /* background-color: yellow; */
    justify-self: end;
    align-self: center;
    padding: 0 40px;
}

.linksContainer li{
    display: inline;
    margin-left: 30px;
}

.aside1 {
    border: 1px solid green;
}

.body {
    border: 1px solid purple;
}

.gallary {
    width: 100%;
    height: auto;
    border: 1px solid green;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    justify-content: center;
    align-items: center;

}

.gallary img {
    width: 100px;
    height: 100px;
}

.aside2 {
    border: 1px solid goldenrod;
}

.footer {
    border: 1px solid orange;
    grid-column: 1/4;
    grid-row: 3/4;

    background-color: red;
}