* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tableWebLayout{
    border: 1px solid black;
    border-collapse: collapse;
     text-align: center;
    width: 100%;
    height: 100vh;
}

.tableWebLayout td{
    border: 1px solid black;
}